<div class="body-section" *ngIf="!hideTeams">
  <div class='body-content-wrap'>
    <div class="card">
      <div class="card-header">
        <div class="titleAndBatch float-left">
          <h1 class="modal-title">Teams</h1>
         </div>
         <button type="button" class="btn btn-primary float-right" (click)='CreateTeam()'>Create Team</button>
      </div>
      <div class="card-body">

        <div class="glob-table-wrapper">

          <table class="table table-striped">
            <thead>
              <tr>
                <th style=" cursor:pointer; text-align: left;">
                  Name
                  <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'Passkey'?'sort-focus-in':''}}" aria-hidden="true">
                    {{PasskeysortingOptions.columnName === 'Passkey' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                  </em> -->
                </th>
                <th style="cursor:pointer; text-align: left;" (click)="SetSortingOptions('UserName')">
                Description
                  <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'UserName'?'sort-focus-in':''}}" aria-hidden="true">
                    {{PasskeysortingOptions.columnName === 'UserName' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                  </em> -->
                </th>
                <th style="cursor:pointer; text-align: left;" (click)="SetSortingOptions('UserName')">
                  No of players
                  <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'UserName'?'sort-focus-in':''}}" aria-hidden="true">
                    {{PasskeysortingOptions.columnName === 'UserName' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                  </em> -->
                </th>
                <th style="cursor:pointer; text-align:left;" (click)="SetSortingOptions('RedemptionDate')">
                  Age limit
                    <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'RedemptionDate'?'sort-focus-in':''}}" aria-hidden="true">
                      {{PasskeysortingOptions.columnName === 'RedemptionDate' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                    </em> -->
                    <em class="material-icons " aria-hidden="true">

                    </em>
                  </th>
                <th style="cursor:pointer; text-align:left;" (click)="SetSortingOptions('RedemptionDate')">
                Coach
                  <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'RedemptionDate'?'sort-focus-in':''}}" aria-hidden="true">
                    {{PasskeysortingOptions.columnName === 'RedemptionDate' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                  </em> -->
                  <em class="material-icons " aria-hidden="true">

                  </em>
                </th>
                <th style="cursor:pointer; text-align:left;" (click)="SetSortingOptions('RedemptionDate')">
                  Team Staff
                    <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'RedemptionDate'?'sort-focus-in':''}}" aria-hidden="true">
                      {{PasskeysortingOptions.columnName === 'RedemptionDate' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                    </em> -->
                    <em class="material-icons " aria-hidden="true">

                    </em>
                  </th>
                <th style="cursor:pointer; text-align:left;" (click)="SetSortingOptions('RedemptionDate')">
                  Created At
                    <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'RedemptionDate'?'sort-focus-in':''}}" aria-hidden="true">
                      {{PasskeysortingOptions.columnName === 'RedemptionDate' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                    </em> -->
                    <em class="material-icons " aria-hidden="true">

                    </em>
                  </th>
                <th style="cursor:pointer; text-align:left;" (click)="SetSortingOptions('RedemptionDate')">
                  Actions
                    <!-- <em class="material-icons {{PasskeysortingOptions.columnName === 'RedemptionDate'?'sort-focus-in':''}}" aria-hidden="true">
                      {{PasskeysortingOptions.columnName === 'RedemptionDate' && (PasskeysortingOptions.columnOrder === 'ASC'?'arrow_drop_up':'arrow_drop_down')}}
                    </em> -->
                    <em class="material-icons " aria-hidden="true">

                    </em>
                  </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let team of teamData" class="gradex">
                <td  class="align-middle"  style="text-align: left;" >{{team.name}}</td>
                <td  class="align-middle"  style="text-align: left;"  > {{team.description}}</td>
                <td  class="align-middle"  style="text-align: left;"  > {{team.players.length}}</td>
                <td  class="align-middle"  style="text-align: left;"  > {{team.ageGroup}}</td>
                <td  class="align-middle"  style="text-align: left;">{{(team.coach)?team.coach:"-NA-"}}</td>
                <td  class="align-middle"  style="text-align: left;">{{team.staff.length}}</td>
                <td  class="align-middle"  style="text-align: left;">{{team.createdAt| date:'medium'}}</td>
                <td   style="text-align: left;">
                  <button type="button" class="btn btn-primary m-2" (click)="ViewTeam(team)">View</button>
                  <!-- <button type="button" class="btn btn-primary m-2" (click)="editTeam(team)">Edit</button> -->
                  <button type="button" class="btn btn-primary m-2" (click)='changeStatus(team)' >{{(team.isActive)?"Disable":"Enable"}}</button>
                </td>

                <!-- <td data-title="PublishedDate" style="text-align: left;">
                  <span *ngIf='key.IsRedeemed'><i class="material-icons m-1 icons">done</i>Used</span>
                  <span *ngIf='!key.IsRedeemed'><i class="material-icons m-1 icons">not_interested</i>Not Used</span>
                </td> -->
              </tr>
              <tr *ngIf="teamData.length==0">
                <td colspan="4">No records found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="adminpagination" id="example_length" *ngIf="PagingOptions.totalRecords > 25">
          <div class="row-per-page form-inline">
            <select id="ddrRowsPerPage" [(ngModel)]="RowsPerPage" (ngModelChange)="SetTotalPages()" tabindex="0" class="form-control">
              <option *ngFor="let o of PagingOptions.pageSizes" [ngValue]="o" [innerText]="o"></option>
            </select>
            <label>
              <span [innerText]="GetPagingText()"></span>
            </label>
          </div>
          <div class="sp-slider-wrapper">
            <nav class="page-nav-wrap">
              <button id="pagingminus" href="javascript:void(0)" aria-label="previous page" tabindex="0" (click)="loadTeams(PagingOptions.currentPage - 1)" [disabled]="!(PagingOptions.currentPage >= 2)"
                [class]="PagingOptions.currentPage >= 2 ? 'page-nav-btn sp-prev':'page-nav-btn sp-prev'">
                <em class="material-icons" aria-hidden="true">play_arrow</em>
              </button>
              <button id="pagingplus" href="javascript:void(0)" aria-label="next page" tabindex="0" (click)="loadTeams(PagingOptions.currentPage + 1)" [disabled]="!(PagingOptions.currentPage < PagingOptions.totalPages)"
                [class]="PagingOptions.currentPage < PagingOptions.totalPages ? 'page-nav-btn sp-next':'page-nav-btn sp-next'">
                <em class="material-icons" aria-hidden="true">play_arrow</em>
              </button>
            </nav>
            <div class="sp-slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
              <a class="ui-slider-handle ui-state-default ui-corner-all disabledAnchor" style="left: 0%;">
                <span>{{PagingOptions.currentPage}}</span>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-update-teams *ngIf='isteameView' [teamData]='selectedTeam'  (BackBtn)="backToteams($event)"> </app-update-teams>
<app-create-team *ngIf="isNewTeam" [userData]='userData' [isEditTeam]='isteamedit' [teamData]='selectedTeam' (BackBtn)="backToteams($event)"></app-create-team>
