.logincontainer{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .maindiv{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: auto;
    margin: 0 auto ;
    padding: 30px 50px 0px 50px;
    background-color: white;
    border-radius: 20px;
  }
  .align-center{
      margin: 15px auto;
  }
  
  a:hover, .btn:hover {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
  }
  i.material-icons {
    font-size: 20px;
    color: #979797;
  }
  
  