
<div class="body-section" >
  <div class='body-content-wrap'>
    <div class="card">
      <div class="card-header">
        <div class="titleAndBatch float-left">
          <h1 class="modal-title">Team Details</h1>
         </div>
         <button type="button" class="btn btn-primary float-right" (click)='goBack()'>Back</button>
      </div>
      <div class="card-body p-0">
        <div class="p-3">
          <div class="row mb-3">
            <div class="row col">
              <div class="col-3">
                <span>Name :</span>
              </div>
              <div class="col-7">
                <span>{{teamData.name}}</span>

              </div>
            </div>
            <div class="row col">
              <div class="col-3">
                <span>Age Limit :</span>
              </div>
              <div class="col-7">
                <span>{{teamData.ageGroup}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row col">
              <div class="col-3">
                <span>Coach Name :</span>
              </div>
              <div class="col-7">
                <span>{{(teamData.coach)?teamData.coach:'-NA-'}}</span>
              </div>
            </div>
            <div class="row col">
              <div class="col-3">
                <span>Player Count :</span>
              </div>
              <div class="col-7">
                <span>{{teamData.players.length}}</span>
              </div>
            </div>
          </div>
        </div>
        <section id="tabs">

            <!-- <h6 class="section-title h1">Tabs</h6> -->

                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Show Players</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Show Staff</a>

                    <!-- <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a> -->
                  </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table table-striped" *ngIf='teamData.players.length >0'>
                      <thead>
                        <tr>
                          <th style=" cursor:pointer; text-align: center;">First Name</th>
                          <th style="cursor:pointer; text-align: center;">Last Name</th>
                          <th style="cursor:pointer; text-align:center;" >Age </th>
                          <th style="cursor:pointer; text-align:center;">Position</th>
                          <th style="cursor:pointer; ">Email</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let player of teamData.players; let i = index;" class="gradex">
                          <td  class="align-middle"  style="text-align: center;" >{{player.firstname}}</td>
                          <td  class="align-middle"  style="text-align: center;"  > {{player.lastname}}</td>
                          <td  class="align-middle"  style="text-align: center;"  > {{player.age}}</td>
                          <td  class="align-middle"  style="text-align: center;"  > {{player.position}}</td>
                          <td  class="align-middle"  style="text-align: center;"  > {{player.email}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="norecord" *ngIf='teamData.players.length ==0'>No player Added</p>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <table class="table table-striped" *ngIf='teamData.staff.length >0'>
                      <thead>
                        <tr>
                          <th style=" cursor:pointer; text-align: center;">Name</th>
                          <th style="cursor:pointer; text-align: center;">Designation</th>
                          <th style="cursor:pointer; text-align:center;" >Contact </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let staff of teamData.staff; let i = index;" class="gradex">
                          <td  class="align-middle"  style="text-align: center;" >{{staff.name}}</td>
                          <td  class="align-middle"  style="text-align: center;"  > {{staff.designation}}</td>
                          <td  class="align-middle"  style="text-align: center;"  > {{staff.contact}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="norecord" *ngIf='teamData.staff.length ==0'>No Staff Added</p>
                  </div>

                  <!-- <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
                  </div> -->
                </div>

              <!-- </div>
            </div> -->
          <!-- </div> -->
        </section>
        <!-- <div class="card mt-3">
          <div class="card-header">
            <div class="titleAndBatch">
              <h2 class="modal-title">Player Details</h2>
             </div>
          </div>
          <div class="card-body">

          <div class="ground">
            <hr class="halfLine">
            <div class="goal topGoalpost"> </div>
            <div class="goal bottomGoalpost"> </div>
            <div class="centerCircle rounded-circle"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="row strickers m-0">
              <div class="col text-center">
                <div class="player"  matTooltip="Info about the Player Info about the Player Info about the PlayerInfo about the PlayerInfo about the Player Info about the Player"
                matTooltipClass="example-tooltip-red"></div>
              </div>
              <div class=" col text-center"><div class="player"></div></div>
              <div class=" col text-center"><div class="player"></div></div>
            </div>
            <div class="row midfielder m-0">
              <div class=" col  text-center"><div class="player"></div></div>
              <div class=" col  text-center"><div class="player"></div></div>
              <div class=" col  text-center"><div class="player"></div></div>
            </div>
            <div class="row defence m-0">
              <div class=" col text-center"><div class="player"></div></div>
              <div class=" col text-center"><div class="player"></div></div>
              <div class=" col text-center"><div class="player"></div></div>
            </div>

          </div>

          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
